<div *ngIf="isVideoGet">
  <video width="800" controls>
    <source src="{{video.videoSrc}}" type="video/mp4">
  </video>

  <!--<div id="currentTrackStatuses"></div>-->
  <!--<div id="subtitlesCaptions"></div>-->

  <div class="subtitles-content">
    <ul>
      <li *ngFor="let line of subtitlesList"
          [ngClass]="{'active': line.active}">
        {{ line.text }}
      </li>
    </ul>
  </div>

  <div class="subtitles-content">
    <ul>
      <li *ngFor="let line of secondSubtitlesList"
          [ngClass]="{'active': line.active}">
        {{ line.text }}
      </li>
    </ul>
  </div>
</div>
