<div *ngIf="isVideoGet">
  <video width="800" controls>
    <source src="{{video.videoSrc}}" type="video/mp4">
  </video>

  <div class="subtitles-content">
    <ul>
      <li *ngFor="let line of subtitlesList"
          class="subtitle"
          [ngClass]="{'active': line.active}">
        <ul *ngFor="let word of line.wordList"
            class="word"
            [ngClass]="{'hadNextLine': word.isNewLine}">
          <li (click)="addFlashcard(word, line)"
              class="word__item word__for-translate">
            {{word.wordForTranslate}}
          </li>
          <li *ngIf="word.restText"
              class="word__item">
            {{word.restText}}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="subtitles-content">
    <ul>
      <li *ngFor="let line of secondSubtitlesList"
          [ngClass]="{'active': line.active}">
        {{ line.text }}
      </li>
    </ul>
  </div>
</div>
