<div class="flashcards-section">
  <h2 class="flashcards-section__title">Flashcards</h2>
  <ul class="flashcards">
    <li class="flashcards__item" *ngFor="let flashcard of flashcards; let i = index;"
        [ngClass]="{'last-child': i === (flashcards.length - 1)}">
      <app-flashcard [flashcard]="flashcard"></app-flashcard>
    </li>
  </ul>

  <div class="add-new-card"
       (click)="addFlashcard()">
    <mat-icon class="add-new-card__icon">add</mat-icon>
    <span class="add-new-card__text">new card</span>
  </div>
</div>
