.subtitles-content {
  position: absolute;
  width: 800px;
  color: white;
  &.first-subtitles {
    top: 20px;
    left: 0;
  }
  &.second-subtitles {
    top: 360px;
    left: 0;
  }
  .subtitle {
    text-align: center;
    display: none;
    width: fit-content;
    padding: 4px 4px 1px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #000000a3;
    &__item {
      display: block;
    }
    &.active {
      display: block;
    }
  }
  .word-list-line {
    display: inline-block;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
    .word {
      display: inline-block;
      &__item {
        display: inline-block;
        font-size: 22px;
      }
      &__for-translate {
        &:hover {
          background-color: #534d53;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
