<div class="subtitles-content first-subtitles"
      [ngClass]="{'first-subtitles': isFirstSubtitles, 'second-subtitles': !isFirstSubtitles}">

  <ul>

    <li *ngFor="let subtitle of subtitlesList"
        class="subtitle"
        [ngClass]="{'active': subtitle.active}">

      <ul *ngFor="let subtitleItem of subtitle.wordList"
          class="subtitle__item">

        <li *ngFor="let wordListLine of subtitleItem"
            class="word-list-line">

          <ul class="word">

            <li (click)="addFlashcard(wordListLine, subtitle)"
                class="word__item"
                [ngClass]="{'word__for-translate': isFirstSubtitles}">
              {{wordListLine.wordForTranslate}}
            </li>

            <li *ngIf="wordListLine.restText"
                class="word__item">
              {{wordListLine.restText}}
            </li>

          </ul>

        </li>

      </ul>

    </li>

  </ul>

</div>
