@import "src/app/shared/styles/colors";

.home {
  box-sizing: border-box;
  padding: 15px;
  min-height: 100vh;
  position: relative;
  &__nav {
    list-style: none;
    margin: 0;
    padding: 15px 20px;
    &-item {
      display: inline-block;
      padding: 8px 15px;
      color: white;
      background-color: #808080bf;
      border-radius: 2px;
      margin-right: 3px;
      font-size: 15px;
      cursor: pointer;
      &:hover, &.active {
        background-color: #787878;
      }
      &:focus, &:active {
        outline: none;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
